.card{

    .card-text{
        height: 65px;
        overflow: hidden;
    }

    .picture{
        min-width: 100px;
        height: 100px;
    }

    .circle-picture{  
        min-width: 100px;
        height: 100px;
    }

    .detail{
        width: 100%;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}