<footer>
    <div class="content py-4">
        <div class="row padding-left justify-content-center pb-4">
            <div class="col col-12 col-md-3 mb-2">
                <div class="d-flex flex-column">
                    <span class="light-text"><b>Services</b></span>
                    <ul class="list-group">
                        <li>
                            <a class="light-link" routerLink="/specialist">Specialist</a>
                        </li>
                        <li>
                            <a class="light-link" routerLink="/service-unit">Service Unit</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-12 col-md-3 mb-2">
                <div class="d-flex flex-column">
                    <span class="light-text"><b>FAQ</b></span>
                    <ul class="list-group">
                        <li>
                            <a class="light-link" href="#toSpecialist">Specialist</a>
                        </li>
                        <li>
                            <a class="light-link" href="#toSpecialist">Service Unit</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-12 col-md-3 mb-2">
                <div class="d-flex flex-column">
                    <span class="light-text"><b>Contacts</b></span>
                    <ul class="list-group">
                        <li>
                            <a class="light-link" href="#toAboutUs">About us</a>
                        </li>
                        <li>
                            <a class="light-link" href="#toCareers">Careers</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="px-4 px-lg-5">
            <div class="copy-right small text-center">Copyright &copy; 2022 - Mahidol University</div>
        </div>
    </div>
</footer>