
<div class="mb-4">
    <div class="shadow-sm bg-body rounded">
        <div class="p-1">
            <div class="col-sm-12">
                <app-feature></app-feature>
            </div>
        </div>
    </div>
</div>

<div class="my-4">
    <app-portal-activities></app-portal-activities>
</div>

<div class="my-4">
    <div class="row">
            <div class="col-xl-6">
                <div class="my-4 p-2 rounded">
                    <app-featured-officer></app-featured-officer>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="my-4 p-2 rounded">
                    <app-featured-service-unit></app-featured-service-unit>
                </div>
            </div>
    </div>
</div>