
<div class="col-md-12">
    <a *ngIf="!show" (click)="toggle()" class="btn btn-primary">เปลี่ยนรหัสผ่าน</a>

    <div *ngIf="show; then changeForm"></div>
    <ng-template #changeForm>
        <form [formGroup]="changePasswordForm">
                <div class="row pt-2 pl-4 pr-4">
                <div class="col-md-2 pt-2 text-start">
                    <h6>Old Password<span style="color: red"> *</span></h6>
                </div>
                <div class="col-md-7 text-center">
                    <input type="password" class="form-control" [ngClass]="displayFieldCss(changePasswordForm,'oldPassword')"
                        formControlName="oldPassword"/>
                </div>
                <div class="col-md-3">
                    <app-field-error-display [controlError]="getTouchControl(changePasswordForm,'oldPassword')"
                        requiredMsg="Old Password is require!">
                    </app-field-error-display>
                </div>
            </div>
    
            <div class="row pt-2 pl-4 pr-4">
                <div class="col-md-2 pt-2 text-start">
                    <h6>Password<span style="color: red"> *</span></h6>
                </div>
                <div class="col-md-7 text-center">
                    <input type="password" class="form-control" [ngClass]="displayFieldCss(changePasswordForm,'password')"
                        formControlName="password"/>
                </div>
                <div class="col-md-3">
                    <app-field-error-display [controlError]="getTouchControl(changePasswordForm,'password')"
                        requiredMsg="Password is require!">
                    </app-field-error-display>
                </div>
            </div>
    
            <div class="row pt-2 pl-4 pr-4">
                <div class="col-md-2 pt-2 text-start">
                    <h6>Password Confirm<span style="color: red"> *</span></h6>
                </div>
                <div class="col-md-7 text-center">
                    <input type="password" class="form-control" [ngClass]="displayFieldCss(changePasswordForm,'passwordConfirm')"
                        formControlName="passwordConfirm" />
                </div>
                <div class="col-md-3">
                    <app-field-error-display [controlError]="getTouchControl(changePasswordForm,'passwordConfirm')"
                        requiredMsg="Password is require!">
                    </app-field-error-display>
                    <app-field-custom-error-display
                        [errorCondition]="getTouchControl(changePasswordForm,'passwordConfirm').hasError('mustMatch')"
                        errorMsg="Password confirm not equal password!">
                    </app-field-custom-error-display>
                </div>
            </div>
            <div class="col-md-7 text-center">
                <div class="text-center">
                    <div class="col-md-2 pt-2 text-start">
                    </div>
                    <div class="col-md-10">
                        <a (click)="toggle()" class="btn btn-link">ยกเลิก</a>
                        <a (click)="confirmChangePassword()" class="btn btn-primary">บันทึก</a>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

</div>